#?delimiters [%, %], [%=, %]
[%
setHTMLOutput()
def type = event["eventType"] == 'OnSubmitEvent' ? 'submit' : 'button'
%]
<button type="[%= type %]" ng-click="[%= getEventThrowExpression(event, "{ position: ${position} }") %]">
	<wr:Label context="event"/>
</button>

